<body class="background">
  <div class= "counter">
    Counter : {{differencesCount}}
  </div>
  <app-free-view-image class = "originalScene" [scene] = "game.originalScene"></app-free-view-image>
  <app-free-view-image class = "modifiedScene" [scene] = "game.modifiedScene"></app-free-view-image>
  <app-message></app-message>
</body>
