.originalScene{
    margin-top: 60px;
    margin-left: 100px;
    text-align: left;
    float:left;
    height: 600px;
}

.background{
    background-color:black;
    position: auto;
    overflow: hidden;
}

.modifiedScene{
    margin-top: 60px;
    margin-right: 100px;
    text-align: right;
    float:right;
    height: 600px;
}

.counter{
    width: 10%;
    height: 30px;
    font-size:160%;
    color:red;
    text-align: center;
    background-color:rgb(0, 0, 0);
    font-family: 'Bangers', cursive;  
}