<div id="games-container">

  <h1>
    {{title}}
  </h1>
  
  <div id="games-table">
    
    <div id="games-simple-pov" class="games-pov-col">
      <h2>Jeux point de vue simple</h2>
      <ul id="games-simple-pov-list" class="games-pov-col-list">
        <ng-container *ngFor="let game of simpleGames">
          <mat-card class="games-info-card">
              <div class="card-title">
                  <div class="games-buttons">
                     <button mat-flat-button color="primary" style="margin-right:10px" (click)="deleteSimpleGame(game.gameId)">Supprimer</button>
                     <button mat-flat-button color="primary" (click)="resetSimpleGame(game.gameId)">Reeinitialiser</button>
                  </div>
                  <h3 class="games-info-card-name">{{game.name}}</h3>
              </div>
            <img class="games-info-card-img" src="{{game.originalImage}}">

            <div class="games-info-card-game-type-container">
              <div class="games-info-card-game-type-col">

                <div class = "games-info-card-game-type-col-mode">Solo</div>
                <div class = "games-info-card-game-type-col-user">User logo</div>

                <li class = "games-info-card-game-type-col-play">

                    <div *ngFor = "let record of game.soloTime" class = "games-info-card-game-type-col-play-record">
                        <div class = "games-info-card-game-type-col-play-record-user">{{record.name}}</div>
                        <div class = "games-info-card-game-type-col-play-record-medal"></div>
                        <div class = "games-info-card-game-type-col-play-record-time">{{record.time}}</div>
                    </div>
                </li>

              </div>

              <div class="games-info-card-game-type-col">

                  <div class = "games-info-card-game-type-col-mode">Versus</div>
                  <div class = "games-info-card-game-type-col-user">User vs user logo</div>

                  <li class = "games-info-card-game-type-col-play">

                      <div *ngFor = "let record of game.vsTime" class = "games-info-card-game-type-col-play-record">
                          <div class = "games-info-card-game-type-col-play-record-user">{{record.name}}</div>
                          <div class = "games-info-card-game-type-col-play-record-medal"></div>
                          <div class = "games-info-card-game-type-col-play-record-time">{{record.time}}</div>
                      </div>
                  </li>
            
              </div>
            </div>
          </mat-card>
        </ng-container>
      </ul>
    </div>

    <div id="games-free-pov" class="games-pov-col">
      <h2>Jeux point de vue libre</h2>
      <ul id="games-free-pov-list" class="games-pov-col-list">
        <ng-container *ngFor="let freeGame of freeGames">
          <mat-card class="games-info-card">
            <div class="card-title">
              <div class="games-buttons">
                 <button mat-flat-button color="primary"class="game-buttons">Supprimer</button>
                 <button mat-flat-button color="primary">Reeinitialiser</button>
              </div>
              <h3 class="games-info-card-name">{{freeGame.name}}</h3>
          </div>
            <img class="games-info-card-img" src="{{freeGame.thumbnail}}">

            <div class="games-info-card-game-type-container">
              <div class="games-info-card-game-type-col">

                  <div class = "games-info-card-game-type-col-mode">Solo</div>
                  <div class = "games-info-card-game-type-col-user">User logo</div>
    
                  <li class = "games-info-card-game-type-col-play">

                      <div *ngFor = "let record of freeGame.soloTime" class = "games-info-card-game-type-col-play-record">
                          <div class = "games-info-card-game-type-col-play-record-user">{{record.name}}</div>
                          <div class = "games-info-card-game-type-col-play-record-medal"></div>
                          <div class = "games-info-card-game-type-col-play-record-time">{{record.time}}</div>
                      </div>
                    

  
                  </li>
            
              </div>
              <div class="games-info-card-game-type-col">
            
                  <div class = "games-info-card-game-type-col-mode">Versus</div>
                  <div class = "games-info-card-game-type-col-user">User vs user logo</div>
    
                  <li class = "games-info-card-game-type-col-play">

                      <div *ngFor = "let record of freeGame.vsTime" class = "games-info-card-game-type-col-play-record">
                          <div class = "games-info-card-game-type-col-play-record-user">{{record.name}}</div>
                          <div class = "games-info-card-game-type-col-play-record-medal"></div>
                          <div class = "games-info-card-game-type-col-play-record-time">{{record.time}}</div>
                      </div>
                  </li>

              </div>
            </div>
          </mat-card>
        </ng-container>
      </ul>
    </div>

  </div>
</div>