#games-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#games-table
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.games-pov-col
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.card-title{
    display: inline;
}
.games-pov-col-list
{
    display: flex;
    flex-direction: column;
    width:100%;
}

.games-buttons{
    float: right;
}

.games-info-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:350px;
    border:solid black 1px;
    margin-bottom:20px;
    
}

.game-buttons
{
    margin-right:10px;
}


.games-info-card-name
{
    display:flex;
    height:2.5%;
    float: left;
}

.games-info-card-img
{
    width:inherit;
    height:65%;
    border:solid black 1px;
}

.games-info-card-game-type-container
{
    display: flex;
    width:100%;
    height:32.5%;
}

.games-info-card-game-type-col
{
    display:flex;
    width:50%;
    height:100%;
    border:solid black 1px;
    flex-wrap: wrap;
}
.games-info-card-game-type-col-mode
{
    display : flex;
    align-items : center;
    justify-content : center;
    box-sizing: border-box;
    border-bottom : solid black 1px;
    align-content : center;
    width : 100%;
    height : 20%;
    text-align : center;
}
.games-info-card-game-type-col-user
{
    box-sizing: border-box;
    border-right : solid black 1px;
    width : 25%;
    height : 80%;
}
.games-info-card-game-type-col-play
{
    display : flex;
    flex-wrap : wrap;
    width : 75%;
    height : 80%;
}
.games-info-card-game-type-col-play-record
{
    box-sizing: border-box;
    border-right : solid black 1px;
    border-bottom : solid black 1px;
    display : flex;
    flex-wrap : wrap;
    width : 33.33%;
    height : 50%;
}
.games-info-card-game-type-col-play-record-user
{
    display : flex;
    align-items : center;
    justify-content : center;
    text-align : center;
    width : 100%;
    height : 40%;
    
}
.games-info-card-game-type-col-play-record-medal
{
    box-sizing : border-box;
    border : solid black 1px;
    border-radius : 50%; 
    width : 35%;
}
.games-info-card-game-type-col-play-record-time
{
    display : flex;
    align-items : center;
    justify-content : center;
    margin-left : 10%;
}
.games-info-card-game-type-col-play-record:nth-child(1) .games-info-card-game-type-col-play-record-medal{
    background: gold;
}
.games-info-card-game-type-col-play-record:nth-child(2) .games-info-card-game-type-col-play-record-medal{
    background: silver;
}
.games-info-card-game-type-col-play-record:nth-child(3) .games-info-card-game-type-col-play-record-medal{
    background: rgb(205, 127, 50);
}