h1{
    font-size: 25px;
}
button{
    padding-left: 10px;
}
.imageInput{
    width:10px
}
mat-spinner{
    margin: 0 auto;
}
.loadingSpinner{
    text-align: center;
    padding:10px;
}
.feedback{
   color:red; 
   padding-top:15px;
}
